
<h1 style="text-align: center;">Commands CheatSheet</h1> <br>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">HOWTO</th>
        <th scope="col">Command-Line</th>
        <th scope="col">Platform</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of commands">
        <th scope="row">{{data.id}}</th>
        <td>{{data.howTo}}</td>
        <td>{{data.commandLine}}</td>
        <td style="background-color: grey;">{{data.plateform}}</td>
      </tr>

    </tbody>
  </table>